h1 {
    color: purple;
    text-align: center;
}
#div1 {
    height: 80px; 
    width: 500px; 
    background-color: #FFE8E8;
    margin-left: 20px;
}
#p1{
    font-size: 30px;
    padding-left: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 40px;
    color: #FF0000;
}
#div2{
    height: 135px; 
    width: 950px; 
    margin-left: 20px;
}
#p2{
    font-size: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    border-top: 2px green solid; 
    border-bottom: 2px purple solid;
    border-left: 3px pink solid;
    border-right: 4px blue solid;
    color: #85647B;
    text-align: center;
}
#div3{
    height: 135px; 
    width: 950px; 
    margin-left: 20px;
    background-color: #FFE8E8;
}
#p3{
    font-size: 35px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: #414651;
}
#span1{
    font-size: 40px;
    color: #FF4405;
}
#div4{
    height: 120px; 
    width: 980px; 
    margin-left: 20px;
}
#p4{
    font-size: 35px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 3px blue solid;
    border-top: 3px blue solid;
    border-right: 2px blue solid;
    border-left: 3px blue solid;
    text-align: right;
    color: blue;
}
#img1{
    margin-left: 20px;
    margin-top: 30px;
}